@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans - Condensed Bold";
  font-display: swap;
  src: url("../fonts/OpenSansCondensed-Bold.woff") format("woff"), url("../fonts/OpenSansCondensed-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?suikyh");
  src: url("../fonts/icomoon.eot?suikyh#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?suikyh") format("truetype"), url("../fonts/icomoon.woff?suikyh") format("woff"), url("../fonts/icomoon.svg?suikyh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checked:before {
  content: "\e900";
}

.icon-search:before {
  content: "\e901";
}

*,
*::before,
*::after {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

html,
body {
  height: 100%;
  font-size: 14px;
  min-width: 320px;
}

body {
  line-height: 1;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #000000;
  font-weight: 400;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body.lock {
  overflow: hidden;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

a:focus,
a:active {
  outline: none;
}

a:visited,
a:hover {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: "Open Sans - Condensed Bold", sans-serif;
  border: none;
  line-height: 1;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

select {
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.title {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

h1.title {
  font-size: 55px;
  text-align: left;
}

h2.title {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 111px;
}

h2.title::after {
  content: "";
  display: block;
  background-image: url(../img/title_line.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 170px;
  height: 2px;
}

h2.title._white {
  color: #ffffff;
}

h2.title._white::after {
  background-image: url(../img/title_line_2.png);
}

h3.title {
  font-size: 24px;
  text-align: center;
  /* Text style for "" */
}

h4.title {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

.btn {
  -webkit-box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
          box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffed26), to(#ffb400));
  background-image: -o-linear-gradient(top, #ffed26 0%, #ffb400 100%);
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  color: #000000;
  font-family: "Open Sans - Condensed Bold", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
}

.header {
  padding: 20px 0;
}

.header__row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__col {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 41.6666%;
          flex: 0 1 41.6666%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__col {
  -ms-flex-preferred-size: 41.6666%;
      flex-basis: 41.6666%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__picture {
  margin-right: 5.5321%;
}

.header-logo__desc {
  color: #0096dc;
  font-size: 14px;
  font-weight: 400;
}

.header-btn__col {
  -ms-flex-preferred-size: 16.6666%;
      flex-basis: 16.6666%;
}

.header-btn__block {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 2px solid #55a831;
  color: #55a831;
  font-size: 14px;
  font-weight: 700;
  padding: 15px 15px 15px 55px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.header-btn__picture {
  position: absolute;
  width: 30px;
  top: 15px;
  left: 15px;
}

.header-schedule__col {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.header-schedule__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-schedule__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-schedule__picture {
  margin-right: 11.766%;
}

.header-schedule__title {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.header-schedule__time {
  color: #333333;
  font-size: 18px;
  font-weight: 600;
}

.header-phone__col {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.header-phone__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.header-phone__number {
  margin-bottom: 8px;
}

.header-phone__number span {
  color: #333333;
  font-size: 23px;
  font-weight: 700;
}

.header-phone__callback {
  color: #0089cc;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline;
}

.banner {
  background-image: url(../../img/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 98px;
}

.banner__row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner-content__text {
  margin-bottom: 155px;
}

.banner-content__title span {
  font-size: 26px;
  line-height: 48px;
  display: block;
}

.banner-content__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 500px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-icon__body {
  width: 110px;
  height: 110px;
  border: 1px solid #ffffff;
  background-color: #0d8fe3;
  border-radius: 50%;
  position: relative;
}

.banner-icon__picture {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner-icon__picture_1 {
  top: -20px;
}

.banner-icon__picture_2 {
  top: -24px;
  left: calc(50% - 5px);
}

.banner-icon__picture_3 {
  top: -15px;
}

.banner-icon__picture_4 {
  top: -13px;
}

.banner-icon__text {
  color: #ffffff;
  font-family: "Open Sans - Condensed Bold";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner-form,
.decor-form,
.promo-form {
  width: 100%;
  max-width: 400px;
}

.banner-form__body,
.decor-form__body,
.promo-form__body {
  width: 100%;
  padding: 40px 50px;
  border-radius: 10px;
  background-color: #ffffff;
}

.banner-form__title,
.decor-form__title,
.promo-form__title {
  margin-bottom: 39px;
}

.banner-form__title span,
.decor-form__title span,
.promo-form__title span {
  font-size: 20px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.banner-form__field,
.decor-form__field,
.promo-form__field {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 20px;
}

.banner-form__field::-webkit-input-placeholder, .decor-form__field::-webkit-input-placeholder, .promo-form__field::-webkit-input-placeholder {
  color: #999999;
}

.banner-form__field::-moz-placeholder, .decor-form__field::-moz-placeholder, .promo-form__field::-moz-placeholder {
  color: #999999;
}

.banner-form__field:-ms-input-placeholder, .decor-form__field:-ms-input-placeholder, .promo-form__field:-ms-input-placeholder {
  color: #999999;
}

.banner-form__field::-ms-input-placeholder, .decor-form__field::-ms-input-placeholder, .promo-form__field::-ms-input-placeholder {
  color: #999999;
}

.banner-form__field::placeholder,
.decor-form__field::placeholder,
.promo-form__field::placeholder {
  color: #999999;
}

.banner-form__btn,
.decor-form__btn,
.promo-form__btn {
  width: 100%;
}

.banner-form__bottom-text,
.decor-form__bottom-text,
.promo-form__bottom-text {
  color: #666666;
  font-size: 11px;
  font-weight: 300;
  line-height: 48px;
  text-align: center;
  display: block;
}

.balcony {
  padding: 79px 0 102px;
}

.balcony__row {
  margin-bottom: 38px;
}

.balcony-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.balcony-tab__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 0 1.6666%;
  position: relative;
}

.balcony-tab__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
}

.balcony-tab__btn.active ~ .balcony-tab__desc {
  color: #464646;
  text-decoration: none;
}

.balcony-tab__picture {
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto 30px;
}

.balcony-tab__picture img {
  width: 100%;
  height: 100%;
}

.balcony-tab__desc {
  color: #249ae6;
  font-size: 18px;
  text-align: center;
  text-decoration: underline;
}

.balcony-tabcontent__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  display: none;
}

.balcony-tabcontent__col.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.balcony-tabcontent__block {
  border-top-width: 5px;
  border-top-style: solid;
  width: 100%;
  position: relative;
  padding: 35px 58px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.balcony-tabcontent__block::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
}

.balcony-tabcontent__block::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 8.5px 0 8.5px;
}

.balcony-tabcontent__block_cold {
  border-top-color: #0d8fe3;
}

.balcony-tabcontent__block_cold::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d8fe3), color-stop(0%, #0d8fe3), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(top, #0d8fe3 0%, #0d8fe3 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(-180deg, #0d8fe3 0%, #0d8fe3 0%, rgba(255, 255, 255, 0) 100%);
}

.balcony-tabcontent__block_cold::before {
  border-color: #0d8fe3 transparent transparent transparent;
}

.balcony-tabcontent__block_warm {
  border-top-color: #ffb903;
}

.balcony-tabcontent__block_warm::after {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb903), color-stop(1%, rgba(255, 185, 3, 0.99)), to(rgba(255, 255, 255, 0)));
  background-image: -o-linear-gradient(top, #ffb903 0%, rgba(255, 185, 3, 0.99) 1%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(-180deg, #ffb903 0%, rgba(255, 185, 3, 0.99) 1%, rgba(255, 255, 255, 0) 100%);
}

.balcony-tabcontent__block_warm::before {
  border-color: #ffb903 transparent transparent transparent;
}

.balcony-tabcontent__title {
  font-size: 20px;
  margin-bottom: 29px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.balcony-tabcontent__title_cold {
  color: #0d8fe3;
}

.balcony-tabcontent__title_warm {
  color: #ffb903;
}

.balcony-tabcontent__picture {
  width: 100%;
  padding-top: 64.3776%;
  margin: 0 auto 28px;
  position: relative;
}

.balcony-tabcontent__picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.balcony-tabcontent__list {
  margin-bottom: 41px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.balcony-tabcontent__item {
  position: relative;
  line-height: 26px;
  padding-left: 43px;
  margin-bottom: 4px;
}

.balcony-tabcontent__item::after {
  content: "\e900";
  display: block;
  font-family: "icomoon";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #e8e8e8;
  line-height: 26px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.balcony-tabcontent__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balcony-tabcontent__price span {
  display: block;
  font-size: 20px;
  color: black;
  font-weight: 700;
  margin-bottom: 15px;
}

.balcony-tabcontent__price span:last-child {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.balcony-tabcontent__btn {
  width: 100%;
  max-width: 263px;
}

.decor {
  background: #f7f7f7;
  padding: 80px 0;
}

.decor__bottom {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.decor-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 40px;
}

.decor-tab__body {
  position: relative;
  width: 100%;
}

.decor-tab__body:last-child > .decor-tab__btn::after {
  display: none;
}

.decor-tab__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.decor-tab__label.active + .decor-tab__btn {
  color: #0085db;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  border-top-color: #0d8fe3;
  border-top-width: 10px;
  border-top-style: solid;
  line-height: 83px;
}

.decor-tab__label.active + .decor-tab__btn::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #0d8fe3 transparent transparent transparent;
}

.decor-tab__label.active + .decor-tab__btn::after {
  top: -10px;
}

.decor-tab__label.active + .decor-tab__btn span::after {
  display: none;
}

.decor-tab__btn {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: black;
  text-transform: uppercase;
  height: 102px;
  line-height: 102px;
  position: relative;
}

.decor-tab__btn::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(-180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
  width: 2px;
}

.decor-tab__btn span {
  position: relative;
}

.decor-tab__btn span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-top-width: 1px;
  border-top-color: black;
  border-top-style: dotted;
}

.decor-bottom-block__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.decor-tabcontent {
  width: 100%;
}

.decor-tabcontent__body {
  display: none;
}

.decor-tabcontent__body.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.decor-inner__picture,
.decor-external__picture,
.decor-glazing__picture,
.decor-roof__picture {
  width: 100%;
  height: 100%;
  max-width: 300px;
}

.decor-inner__picture img,
.decor-external__picture img,
.decor-glazing__picture img,
.decor-roof__picture img {
  width: 100%;
  height: 100%;
}

.decor-inner-materials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0 0;
}

.decor-inner-materials__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  padding: 0 10px 50px;
}

.decor-inner-materials__picture {
  width: 100%;
  height: 100%;
  max-width: 70px;
  max-height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 20px;
}

.decor-inner-materials__picture img {
  width: 100%;
  height: 100%;
}

.decor-inner-materials__title {
  font-size: 14px;
  color: black;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-weight: 600;
}

.decor-inner-materials__price {
  font-size: 14px;
  color: #0d8fe3;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 3px;
}

.decor-inner-materials__annotation {
  font-size: 12px;
  color: black;
  text-align: center;
  display: block;
}

.decor-external-color {
  padding: 70px 60px 0;
}

.decor-external-color__title,
.decor-glazing-info__title,
.decor-roof-info__title {
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-bottom: 28px;
}

.decor-external-color__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.decor-external-color__block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  margin-bottom: 35px;
  text-align: center;
}

.decor-external-color__block span {
  font-size: 10px;
  color: black;
}

.decor-external-color__option {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 16px;
}

.decor-external-color__option.active {
  border-style: solid;
  border-width: 4px;
  border-color: #7cb6ea;
}

.decor-external-color__option-1 {
  background-color: white;
}

.decor-external-color__option-2 {
  background-color: #434b5a;
}

.decor-external-color__option-3 {
  background-color: #f8f0d3;
}

.decor-external-color__option-4 {
  background-color: #faf49b;
}

.decor-external-color__option-5 {
  background-color: #f8b6b6;
}

.decor-external-color__option-6 {
  background-color: #d3f8dc;
}

.decor-external-color__option-7 {
  background-color: #e4e4e4;
}

.decor-external-color__option-8 {
  background-color: #878f9f;
}

.decor-external-color__option-9 {
  background-color: #879f90;
}

.decor-external-color__option-10 {
  background-color: #ddd7c2;
}

.decor-external-color__price {
  font-size: 14px;
  color: #0d8fe3;
  font-weight: bold;
  display: block;
}

.decor-external-color__annotation {
  font-size: 12px;
  color: black;
}

.decor-glazing-info {
  padding: 69px 60px;
}

.decor-glazing-info__title {
  margin-bottom: 40px;
}

.decor-glazing-info__list {
  margin-bottom: 37px;
}

.decor-glazing-info__item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 30px;
}

.decor-glazing-info__item:last-child {
  margin-bottom: 0;
}

.decor-glazing-info__item span {
  font-size: 12px;
  color: black;
  line-height: 1.333;
}

.decor-glazing-info__icon {
  width: 36px;
  height: 31px;
  text-align: right;
  position: absolute;
  left: 0;
}

.decor-glazing-info__icon img {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.decor-glazing-info__price {
  font-size: 14px;
  color: #0d8fe3;
  font-weight: bold;
  display: block;
}

.decor-glazing-info__annotation {
  font-size: 12px;
  color: black;
}

.decor-roof-info {
  padding: 70px 0 0 60px;
}

.decor-roof-info__title {
  margin-bottom: 29px;
}

.decor-roof-info__list {
  margin-bottom: 36px;
}

.decor-roof-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.decor-roof-info__item:last-child {
  margin-bottom: 0;
}

.decor-roof-info__item span {
  font-size: 12px;
  color: black;
}

.decor-roof-info__picture {
  width: 51px;
  height: 51px;
  margin-right: 21px;
}

.decor-roof-info__picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.decor-roof-info__price-block {
  margin-bottom: 20px;
}

.decor-roof-info__price-block:last-child {
  margin-bottom: 0;
}

.decor-roof-info__price {
  font-size: 14px;
  color: #0d8fe3;
  font-weight: bold;
  display: block;
}

.decor-roof-info__annotation {
  font-size: 12px;
  color: black;
}

.our-work {
  padding: 80px 0;
}

.our-work__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.our-work__block {
  width: 100%;
  padding: 50%;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  cursor: pointer;
}

.our-work__block img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  -webkit-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

.our-work__block::after {
  content: "\e901";
  display: block;
  font-family: "icomoon" !important;
  font-size: 40px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.guarantee {
  background-image: url(../img/guarantee_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #00a0eb;
  padding: 80px 0 0;
}

.guarantee__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
  text-align: center;
  margin-bottom: 79px;
}

.guarantee__picture {
  width: 70px;
  height: 70px;
  text-align: center;
  margin: 0 auto 32px;
}

.guarantee__text {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.pay {
  padding: 80px 0;
}

.pay__title {
  text-transform: none !important;
  margin-bottom: 79px !important;
}

.pay__title::after {
  display: none !important;
}

.pay__row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pay__col {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pay__picture {
  width: 70px;
  height: 70px;
  position: relative;
  margin-right: 30px;
}

.pay__picture img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pay__text {
  color: #000000;
  font-size: 20px;
}

.promo {
  background-image: url(../../img/promo_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 79px 0;
}

.promo__row {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__title {
  color: #008cce;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 80px;
}

.promo__text {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 80px;
}

.promo__text span {
  display: block;
}

.promo-count {
  width: 260px;
  height: 160px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: #ffffff;
  padding: 21px 25px;
}

.promo-count__title {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px;
}

.promo-count__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo-count__col {
  text-align: center;
}

.promo-count__number {
  width: 40px;
  height: 50px;
  position: relative;
  margin-bottom: 15px;
}

.promo-count__number::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 27px;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#141414));
  background-image: -o-linear-gradient(top, #393939 0%, #141414 100%);
  background-image: linear-gradient(to bottom, #393939 0%, #141414 100%);
}

.promo-count__number::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 26px;
  border-radius: 0 0 10px 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#141414));
  background-image: -o-linear-gradient(top, #393939 0%, #141414 100%);
  background-image: linear-gradient(to bottom, #393939 0%, #141414 100%);
}

.promo-count__number span {
  position: absolute;
  color: #efefef;
  font-family: "Open Sans - Condensed Bold";
  font-size: 28px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 9px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
}

.promo-count__desc {
  color: #000000;
  font-size: 13px;
  font-weight: 600;
}

.contact {
  padding: 79px 0;
}

.contact__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.contact__map {
  width: 100%;
  max-width: 569px;
  height: 100%;
}

.contact__map iframe {
  width: 100%;
  height: 100%;
}

.contact__list {
  margin-left: 8.3333%;
}

.contact-item {
  margin-bottom: 33px;
}

.contact-item:last-child {
  margin-bottom: 0;
}

.contact-item__title {
  color: #008cce;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 16px;
}

.contact-item__text {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}

.contact-item__text_weight {
  font-weight: 400;
}

.question {
  background-color: #00a0eb;
  padding: 84px 0 86px;
  text-align: center;
}

.question__text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  margin-right: 39px;
}

.question__link {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
}

.footer {
  padding: 37px 0;
}

.footer__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  color: #000000;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.footer__logo {
  text-align: center;
}

.footer__phone {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  text-align: right;
  display: block;
}

.footer__email {
  color: #0090d5;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: right;
  text-decoration: underline;
  display: block;
}

@media (min-width: 768px) {
  .balcony-tab__body:hover .balcony-tab__desc {
    text-decoration: none;
  }

  .decor-tab__label:hover + .decor-tab__btn > span::after {
    display: none;
  }

  .our-work__block:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media (max-width: 1920px) and (max-width: 767px) {
  h2.title {
    font-size: calc( 25px + 8.5 * ((100vw - 320px) / 1920));
  }

  .our-work__block::after {
    font-size: calc( 30px + 17 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 1200px) {
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__right-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .header-schedule__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 5px;
  }

  .header-phone__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .header-phone__icon {
    display: none;
  }

  .banner-content__text {
    margin-bottom: 20.1298%;
  }

  .decor-tab__btn {
    font-size: 16px;
  }

  .decor-form {
    display: none;
  }

  .decor-roof-info__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .decor-roof-info__list {
    margin-bottom: 0;
    margin-right: 20px;
  }
}

@media (max-width: 1200px) and (max-width: 767px) {
  .header-phone__number span {
    font-size: calc( 17px + 10.2 * ((100vw - 320px) / 1920));
  }

  .header-phone__callback {
    font-size: calc( 11px + 6.8 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 992px) {
  .banner-content__icons {
    max-width: 240px;
  }

  .banner-icon__body {
    margin-bottom: 30px;
  }

  .balcony-tabcontent__block {
    padding: 35px 5.8467% 48px;
  }

  .balcony-tabcontent__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .balcony-tabcontent__price {
    margin-bottom: 10px;
  }

  .decor-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .decor-tab__btn::after {
    display: none;
  }

  .decor-roof-info {
    padding: 70px 0 0 30px;
  }

  .question__text {
    display: block;
    margin-right: 0;
  }
}

@media (max-width: 992px) and (max-width: 992px) {
  .decor-tab__btn {
    font-size: calc( 16px + 6.8 * ((100vw - 320px) / 992));
  }
}

@media (max-width: 768px) and (max-width: 767px) {
  h1.title {
    font-size: calc( 30px + 42.5 * ((100vw - 320px) / 1920));
  }

  .banner-content__title span {
    font-size: calc( 23px + 5.1 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 768px) {
  .header-logo__col {
    -ms-flex-preferred-size: 16.6666%;
        flex-basis: 16.6666%;
  }

  .header-logo__picture {
    margin-right: 0;
  }

  .header-logo__desc {
    display: none;
  }

  .banner {
    background-image: none;
    background-color: #00a0eb;
  }

  .banner__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .banner-content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .banner-content__text {
    margin-bottom: 13.5501%;
  }

  .banner-content__title {
    color: #fff;
    text-align: center !important;
  }

  .banner-content__icons {
    max-width: 500px;
    margin: 0 auto;
  }

  .banner-form,
  .decor-form,
  .promo-form {
    margin: 0 auto;
  }

  .balcony-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .balcony-tab__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .balcony-tab__picture {
    margin: 0 20px 0 0;
  }

  .decor-tabcontent__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .decor-inner__picture,
  .decor-external__picture,
  .decor-glazing__picture,
  .decor-roof__picture {
    margin: 0 auto;
  }

  .decor-external-color {
    padding: 30px 0px 0;
  }

  .decor-external-color__title,
  .decor-glazing-info__title,
  .decor-roof-info__title {
    text-align: center;
  }

  .decor-glazing-info {
    padding: 30px 0px 0;
  }

  .decor-glazing-info__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .decor-roof-info {
    padding: 30px 0px 0;
  }

  .decor-roof-info__flexbox {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .our-work__col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .guarantee {
    background-image: none;
  }

  .pay__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pay__col {
    width: 50%;
  }

  .promo {
    background-image: none;
    background-color: #00a0eb;
  }

  .promo__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .promo__title {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }

  .promo__text {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
  }

  .promo-count {
    margin: 0 auto 20px;
  }

  .contact__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .contact__map {
    display: none;
  }

  .contact__list {
    margin-right: 8.3333%;
  }
}

@media (max-width: 576px) {
  .container {
    padding-right: 5px;
    padding-left: 5px;
  }

  .row {
    margin-right: -5px;
    margin-left: -5px;
  }

  .col {
    padding-right: 5px;
    padding-left: 5px;
  }

  .header__right-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-top: 10px;
  }

  .header-schedule__col {
    margin-bottom: 0;
  }

  .header-schedule__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }

  .header-schedule__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .header-schedule__picture {
    display: none;
  }

  .header-schedule__title {
    font-size: 13px;
  }

  .header-schedule__time {
    font-size: 17px;
  }

  .banner-content__icons {
    max-width: 240px;
  }

  .banner-form__body,
  .decor-form__body,
  .promo-form__body {
    padding: 40px 20px;
  }

  .balcony-tabcontent__col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .decor-inner-materials__block {
    padding: 0 5px 25px;
  }

  .guarantee__col {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .pay__col {
    width: 90%;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__col:first-child {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .footer__col:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .footer__col:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .footer__copyright {
    text-align: center;
    display: block;
  }

  .footer__logo {
    margin-bottom: 15px;
  }

  .footer__phone {
    text-align: center;
    margin-bottom: 10px;
    font-size: 25px;
  }

  .footer__email {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
  }
}

@media (max-width: 576px) and (max-width: 576px) {
  .promo__title {
    font-size: calc( 35px + 22.1 * ((100vw - 320px) / 576));
  }
}

@media (max-width: 768px) and (min-width: 767px) {
  h1.title {
    font-size: calc(30px + 25 * (100vw / 1920));
  }

  .banner-content__title span {
    font-size: calc(23px + 3 * (100vw / 1920));
  }
}

@media (max-width: 1920px) and (min-width: 767px) {
  h2.title {
    font-size: calc(25px + 5 * (100vw / 1920));
  }

  .our-work__block::after {
    font-size: calc(30px + 10 * (100vw / 1920));
  }
}

@media (max-width: 1200px) and (min-width: 767px) {
  .header-phone__number span {
    font-size: calc(17px + 6 * (100vw / 1920));
  }

  .header-phone__callback {
    font-size: calc(11px + 4 * (100vw / 1920));
  }
}